@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto:wght@300;400&display=swap');

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 550px;
}

bass-two {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 10px;
}

h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: lighter;
  font-size: 38px;
}

h3 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;\\]
  font-size: 16px;
}

p {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 13px;
  font-weight: lighter;
}